@charset "UTF-8";
/**
 *
 * @authors zx.wang (zx.wang1991@gmail.com)
 * @date    2016-08-16 18:30:41
 * @version $Id$
 */

.h1{
  font-size:14px;
}

.h2{
  font-size:12px;
  color: #666666;
}
.h3{
  font-size: 32px;
  color: red;
}
